.tabs {
  &__content-block {
    // display: none;
    opacity: 0;
  }
  
  &__input:checked + &__label + &__content-block {
    // display: block;
    opacity: 1; 
  }


}

.tabs {
  // display: flex;
  // flex-flow: row wrap;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;

  &-tab {
    flex: 0 0 auto;
  }

  &__input { 
    position: absolute; 
    grid-column: 1/2;
    grid-row: 1/2;
  }

  label {
    display: flex;
    grid-column: auto;
    grid-row: 1/2;
    width: auto;
    margin: 0;

    &:last-of-type { margin-right: auto;}
  }

  &__content-block {
    grid-column: 1/2;
    grid-row: 2/3;
    // order: 99;
    // flex: 1 0 100%;
  }
}
