<div class='tabs'>
  
  <input class='tabs__input' type='radio' name='tabs' id='tabs_tab_0' checked='checked' />
  <label class="tabs__label" for='tabs_tab_0'>Tab 1</label>

  <div class='tabs__content-block'>
    <header>Tab 1 Header</header>
    <p>Tab 1 Content</p>
  </div>

  
    <input class='tabs__input' type='radio' name='tabs' id='tabs_tab_1' />
    <label class="tabs__label" for='tabs_tab_1'>Tab 2</label>
  
  <div class='tabs__content-block'>
    <header>Tab 2 Header</header>
    <p>Tab 2 Content</p>
  </div>

  
    <input class='tabs__input' type='radio' name='tabs' id='tabs_tab_2' />
    <label class="tabs__label" for='tabs_tab_2'>Tab 2</label>
  
  <div class='tabs__content-block' data-content-for='tabs_tab_2'>
    <header>Tab 3 Header</header>
    <p>Tab 3 Content</p>
  </div>





  <!-- <input class='tabs__input' type='radio' name='tabs' id='tabs_tab_1' />
  <div class='tabs__label'>
    <label for='tabs_tab_1'>Tab 2</label>
  </div>
  <div class='tabs__content-block' />
    <header>Tab 2 Header</header>
    <p>Tab 2 Content</p>
  </div>
  <input class='tabs__input' type='radio' name='tabs' id='tabs_tab_2' />
  <div class='tabs__label'>
    <label for='tabs_tab_2'>Tab 3</label>
  </div>
  <div class='tabs__content-block' />
    <header>Tab 3 Header</header>
    <p>Tab 3 Content</p>
  </div> -->
</div>
