//functional

.tabs {
  &__content-block {
    display: none;
  }
  &__input:checked + &__label + &__content-block {
    display: block;
  }
}

// minimal functional styling

.tabs {
  display: flex;
  flex-wrap: wrap;

  &__input { display: none; }

  &__content-block {
    flex: 1 0 100%;
    order: 99;
  }
}

// demo styles

.tabs {
  border: 1px solid red;
}

