:root {
  --c--background-1: white;
  --c--background-2: #dadfe3;
  --c--background-3: #adb6bd;
  --c--background-4: #78848c;

  --c--text-1: #101417;
  --c--text-2: #25333d;
  --c--text-3: #3e5261;

  --s--padding-1: 2em;
  --s--padding-2: 1em;
  --s--padding-3: .5em;
}

body {
  display: flex;
  align-content: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  background-color: var(--c--background-1);
}

.main {
  width: 100%;
  max-width: 800px;
}

.content {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;

  width: 100%;
}

.component {
  margin: 5rem auto;
  padding: 0;

  width: 100%;

  background: var(--c--background-1);
  border-radius: 1rem;
  box-shadow: 0 0 1rem 0 black;
  
  overflow: hidden;

  &__preview,
  &__description {
    padding: var(--s--padding-1);
  }

  &__description {
    background-color: var(--c--background-2);
    color: var(--c--text-1);
    
    pre {
      padding: 1rem;
      
      background-color: var(--c--background-3);
      border-radius: .5rem;

      color: var(--c--text-2);
    }
  }
}

[class$='__label'] { 
  display: block;
  
  padding: var(--s--padding-3); 
  
  width: 100%;
  
  background-color: var(--c--background-3);
}

[class$='__content'] { 
  padding: var(--s--padding-2); 
  background-color: var(--c--background-2);
}

h3 {
  color: var(--c--text-2);
}