.accordion {
  &__item {
    &-content {
      display: none;
    }
    &-input:checked + &-label + &-content {
      display: block;
    }
  }
}

//minimal functional styling
.accordion__item-input {
  display: none;
}

// demo styles
.accordion {
  width: 100%;

  &__item {
    &-label {
      background-color: var(--c--background-tertiary);
    }
  }
}
