<div class="accordion">
  <div class="accordion-tab">
    <input class="accordion-tab__toggle" type="radio" name="accordion" id="accordion-tab-0">
    <label class="accordion-tab__label label" for="accordion-tab-0">Label</label>
    <div class="accordion-tab__inner">
      <div class="accordion-tab__content content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
    </div>
  </div>

  <div class="accordion-tab">
    <input class="accordion-tab__toggle" type="radio" name="accordion" id="accordion-tab-1">
    <label class="accordion-tab__label label" for="accordion-tab-1">Label</label>
    <div class="accordion-tab__inner">
      <div class="accordion-tab__content content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
    </div>
  </div>
  <div class="accordion-tab">
    <input class="accordion-tab__toggle" type="radio" name="accordion" id="accordion-tab-2">
    <label class="accordion-tab__label label" for="accordion-tab-2">Label</label>
    <div class="accordion-tab__inner">
      <div class="accordion-tab__content content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
    </div>
  </div>
  <div class="accordion-tab">
    <input class="accordion-tab__toggle" type="radio" name="accordion" id="accordion-tab-3">
    <label class="accordion-tab__label label" for="accordion-tab-3">Label</label>
    <div class="accordion-tab__inner">
      <div class="accordion-tab__content content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
    </div>
  </div>
</div>

